<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road base</title>
</head>
<body>
    <section>
        <header>
            <h1><a href="{% url 'index' %}">База автомобильных дорог</a></h1>
            <nav>
                <a href="{% url 'roads' %}">Автомобильные дороги</a>
                <a href="{% url 'lands' %}">Земельные участки</a>
            </nav>
        </header>
    </section>
    <main>
        {% block content %}
        <form action="{% url 'search_road' %}" method="get">
            <input name="q" type="text" placeholder="Поиск дороги...">
        </form>
        {% endblock content %}
    </main>
    <hr>
    <div>
        <footer>
            <p>Автомобильные дороги находящиеся в собственности Омской области.</p>
        </footer>
    </div>
</body>
</html>